.RTE {
  border: 1px solid rgba(10, 10, 10, 0.1);
  box-sizing: border-box; }

.RTE-content {
  box-sizing: border-box;
  height: 300px;
  outline: 0;
  overflow-y: auto;
  padding: 10px; }

.RTE-actionbar {
  background-color: #FFF;
  border-bottom: 1px solid rgba(10, 10, 10, 0.1); }

.RTE-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 30px;
  outline: 0;
  width: 30px;
  vertical-align: bottom; }

.RTE-button-selected {
  background-color: deepskyblue;
  color:white;
}
.RTE-select {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 30px;
  outline: 0;
  width: 100px;
  vertical-align: central; }
